/* Dock icons */
.dock .button, .group .button {  
	-fx-padding: 4 4 4 4;
    -fx-background-color: inherit;
}
.dock .toggle-button {    
    -fx-opacity: 0.3;
	-fx-padding: 4 4 4 4;
    -fx-background-color: inherit;
}

.dock .toggle-button:hover, .dock .button:hover, .group .button:hover {
}


.dock .toggle-button:selected {
    -fx-opacity: 1;
} 

.dock .toggle-button:selected:hover {
}

/* Filters */
.dock .iconButton {
    -fx-font-family: FontAwesome;
    -fx-font-size: 32px;
}

.group .itemButton {
}

.dock .launcherIcon {
	
}

.dock .smallButton {	
    -fx-font-family: FontAwesome;
    -fx-font-size: 12px;
}

/* Generic button */
.iconButton, .icon {	
    -fx-font-family: FontAwesome;
    -fx-font-size: 12px;
}

/* Tooltip */
.tooltip {
    -fx-font-size: 14px;
}

/* General */
.info, .info .text {
	-fx-font-weight: bold;
	-fx-font-size: 10;
}

.small {
	-fx-font-size: 9;
}

.pull {
    -fx-font-family: FontAwesome;
	-fx-font-size: 16;
}

.logo {
	-fx-image: url("hypersocket-icon64x64.png");
}

/* Text */
.description {
	-fx-font-size: 10;
}

.title {
	-fx-font-size: 16;
}

.item {
	-fx-font-size: 14;
}

.item .icon {
	-fx-font-size: 18;
	-fx-padding: 0 10 0 4;
}


/* Progress */

.spinner {
	-fx-font-size: 40;
	-fx-padding: 0;
}

/* Info messages */
.messageIcon {
    -fx-font-family: FontAwesome;
}

.errorMessage {
	-fx-text-fill: white;
    -fx-background-color: #aa3939;
}

.informationMessage {
	-fx-text-fill: white;
    -fx-background-color: #0c56ff;
}

.warningMessage {
	-fx-text-fill: black;
    -fx-background-color: #ffdf00;
}

/* Status */
.statusConnected {
	-fx-text-fill: #aa0000;
    -fx-font-family: FontAwesome;
}
.statusNotConnected {
	-fx-text-fill: #00aa00;
    -fx-font-family: FontAwesome;
}
.statusError {
	-fx-text-fill: #777777;
    -fx-font-family: FontAwesome;
}

/* Dock window */

.windowContent {	
 	-fx-background-color: -fx-background; 
}

.shadowed {
	-fx-background-color: transparent;
}

.popover > .content {
	-fx-padding: 8 8 8 8;
}

