<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013 LogonBox Limited. All rights reserved. This program 
	and the accompanying materials are made available under the terms of the 
	GNU Public License v3.0 which accompanies this distribution, and is available 
	at http://www.gnu.org/licenses/gpl.html -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.3.xsd
           http://www.springframework.org/schema/cache
    	   http://www.springframework.org/schema/cache/spring-cache.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
           http://www.springframework.org/schema/tx 
     	   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<bean id="annotationService" class="com.hypersocket.annotation.AnnotationServiceImpl" />
    <bean id="contextAnnotationService" class="com.hypersocket.context.ContextAnnotationServiceImpl" />

	<aop:config>
		<aop:aspect ref="annotationService">
			<aop:pointcut id="profiledMethods"
				expression="@annotation(com.hypersocket.annotation.HypersocketExtension)" />
			<aop:around pointcut-ref="profiledMethods" method="process" />
		</aop:aspect>
		<aop:aspect ref="contextAnnotationService">
			<aop:around pointcut="@annotation(com.hypersocket.context.AuthenticatedContext)" method="process" />
		</aop:aspect>
	</aop:config>


	<context:component-scan base-package="com.hypersocket, com.logonbox">
		<context:include-filter type="regex"
			expression="com.hypersocket.*ServiceImpl" />
		<context:include-filter type="regex"
			expression="com.hypersocket.*RepositoryImpl" />
		<context:include-filter type="assignable"
			expression="com.hypersocket.repository.AbstractEntity" />
		<context:exclude-filter type="regex"
			expression="com.hypersocket.server.*" />
		<context:exclude-filter type="regex"
			expression="com.hypersocket.annotation.*" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<import resource="database.xml" />

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="upgradeService" class="com.hypersocket.upgrade.UpgradeServiceImpl">
		<property name="scripts" value="classpath*:upgrade/*" />
	</bean>

</beans>
